
<div class="container" data-controller="insert_in_list">

  <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#flip" class="btn btn-outline-primary">Add party item</button>
      <div data-toggle-target="togglableElement" class="">
        <%= render "form", party_item: @party_item %>
      </div>
  </div>

  <div>
  <% @party_items.each do |item| %>
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Item name: <%= item.name %></h5>
        <p class="card-text">Item description: <%= item.description %></p>
        <p class="card-text">Price: <%= item.price %></p>
        <%= link_to "See Item", party_item_path(item) %>
      </div>
    </div>
  <% end %>
  </div>
</div>
