<div class="container">
  <div class="jumbotron">
    <div data-controller="toggle" class="mt-5">
      <button class="btn btn-outline-primary">Add party item</button>
      <%= render "form", party_item: @partyItem %>
    </div>
    <hr class="my-4">
    <div class="d-flex flex-wrap">
      <% @partyItems.each do |item| %>
      <div class="card m-3" style="width: 18rem;">
        <%# <img class="card-img-top" src="" alt="Card image cap"> %>
        <div class="card-body">
          <h5 class="card-title">Item name: <%= item.name %></h5>
          <p class="card-text">Item description: <%= item.description %></p>
          <p class="card-text">Price: <%= item.price %></p>
          <br/>
          <%= link_to "See Item", party_item_path(item) %>
          <%# <%= link_to "Delete", restaurant_path(@restaurant),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

        </div>
      </div>
    <% end %>
  </div>
</div>