<div class="container">
  <div class="jumbotro p-3 bg-white"  style="--bs-bg-opacity: .7git co;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active"><a href="/party_items">Party Items</a></li>
      <li class="breadcrumb-item active"><%= @party_item.name %></li>
    </ol>
    <div class="mb-3">
    <% rating = 5 - rand(0...5) %>
    <% whitestars = 5 - rating %>
       <div class="d-flex justify-content-left mt-3 bg-white" style="--bs-bg-opacity:0.7">
        <div class="d-flex" style="height: 19rem">
          <% if @party_item.photo.present?  %>
          <%= cl_image_tag @party_item.photo.key,  crop: :fill, class: "card-img-top"%>
          <% end %>
        </div>
        <div class="title-image-holder ms-5" style="width:350px">
          <div class="ce-review-score edges">
            <div class="star-rating">
            <p><%= rand(5..25) %> reviews</p>
            <div>
              <% rating.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
              <% whitestars.times do %>
                <i class="fa-regular fa-star"></i>
              <% end %>
            </div>
            </div> <%= link_to ":pencil2:", edit_party_item_path(@party_item), class: 'action_icon_edit' %>
          </div>
          <h2 class="display-4 mt-3"><%= @party_item.name %></h2>
          <p class="lead pe-4"><%= @party_item.description %></p>
          <div class="edges">
            <p>Price: <%= @party_item.price %>€</p><%= link_to ":wastebasket:", party_item_path(@party_item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'action_icon_del'%>
          </div>
        </div>
      </div>
      <div class="my-3 mx-3">
        <p class="lead">
              <%= link_to "Book me!", new_party_item_order_path(@party_item), class: 'btn btn-light' %>
              <%= link_to "See more", party_items_path, class: 'btn btn-light btn-outline-primary' %>
            </p>
      </div>
    </div>
  </div>
</div>
