<div class="container">
  <div class="jumbotron">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active"><a href="/party_items">Party Items</a></li>
      <li class="breadcrumb-item active"><%= @party_item.name %></li>
    </ol>
    <div class="mb-3">
    <% rating = rand(1..5) %>
        <div>
          <div class="ce-review-score edges" >
            <span class="score-highlighted"><%= rating %> / 5</span> <%= link_to "âœï¸", edit_party_item_path(@party_item), class: 'action_icon_edit'  %>
          </div>


          <div class="star-rating">
            <%= "â­"*rating%>
          </div>
        </div>
        <u>
            <a><%= rand(5..25) %> reviews</a>
        </u>
    </div>

    <h2 class="display-4"><%= @party_item.name %></h2>
    <% if @party_item.photo.present?  %>
    <%= cl_image_tag @party_item.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p class="lead"><%= @party_item.description %></p>
    <hr class="my-4">
    <div class="edges">
    <p>Price: <%= @party_item.price %></p><%= link_to "ðŸ—‘ï¸", party_item_path(@party_item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'action_icon_del'%>
    </div>
    <p class="lead">

      <%= link_to "Book me!", new_party_item_order_path(@party_item), class: 'btn btn-light' %>

      <%= link_to "See more", party_items_path, class: 'btn btn-light btn-outline-primary' %>

    </p>
  </div>
</div>
