<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-5 sticky-top" style="background-image: linear-gradient(to right, rgba(18, 224, 231, 0.7), rgba(188, 13, 237, 0.8))";>

    <div class="container-fluid">
      <div class="logoItem d-flex">
        <%= link_to "/", class: "navbar-brand" do %>
            <%= image_tag "logo.jpg", class: "avatar", alt: "dropdown menu", style: "height:50px; width:50px"%>
          <%# <h5 class="m-0">Party time</h5> %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

          <% if user_signed_in? %>
            <li class="nav-item active">
              <%# <%= link_to "Create your party item", "/party_items/", class: "nav-link" %> %>
            </li>
            <button class="btn btn-outline-primary" data-action="click->toggle#flip">Add party item</button>
            <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "th.jpg", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Check my listings", my_listings_path, class: "dropdown-item" %>
                <%= link_to "Check my orders", "/orders", class: "dropdown-item" %>
                <%= link_to "Check my details", "/users/edit", class: "dropdown-item" %>
                <%= link_to "Check bookings on my items", orders_to_fulfill_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item active">
                <%= link_to "Register", "/users/sign_up", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
