<div class="container d-flex justify-content-center">
  <div class="jumbotron bg-white rounded" style="width:900px; padding: 20px; opacity:0.7">
    <h1 class="display-4 d-flex justify-content-center">Your Items Currently Booked</h1>
    <hr class="my-4">
    <div class="d-flex flex-wrap">
      <% @orders.each do |item| %>
      <div class="card m-3" style="width: 18rem;">
        <%# <img class="card-img-top" src="" alt="Card image cap"> %>
        <div class="card-body">
          <h5 class="card-title">Item name: <%= item.party_item.name %></h5>
          <p class="card-text">Item description: <%= item.party_item.description %></p>
          <p class="card-text">Booked from: <%= item.start_date %> to <%= item.end_date %></p>
          <p class="card-text">Amount Received: <%= item.amount %>€</p>
          <p class="card-text">Booked by: <%= item.user.name %></p>

          <br/>
          <%= link_to "See Order", order_path(item), class:'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
