<div class="container">
   <h2>Your Items Currently Booked</h2>
  <div class="jumbotron">
    <hr class="my-4">
    <div class="d-flex flex-wrap">
      <% @orders.each do |item| %>
      <div class="card m-3" style="width: 18rem;">
        <%# <img class="card-img-top" src="" alt="Card image cap"> %>
        <div class="card-body">
          <h5 class="card-title">Item name: <%= item.party_item.name %></h5>
          <p class="card-text">Item description: <%= item.party_item.description %></p>´
          <p class="card-text">Booked from: <%= item.start_date %> to <%= item.end_date %></p>
          <p class="card-text">Amount Received: <%= item.amount %></p>
          <p class="card-text">Booked by : <%= item.user.name %></p>

          <br/>
          <%= link_to "See Order", order_path(item) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
