<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= @party_item.name %></h1>
    <p class="lead"><%= @party_item.description %></p>
    <hr class="my-4">
    <p>Ordered from <%= @order.start %> to <%= @order.end %> </p>
    <p>By <%= @user.name %>


    <p>Amount paid: <%= @order.amount %></p>
    <p class="lead">

      <%= link_to "Browse more items", party_items_path %>
    </p>
  </div>
</div>
