<div class="container bg-white rounded p-3" style="opacity:0.7">
    <h1 class="display-4"><%= @party_item.name %></h1>
    <p class="lead"><%= @party_item.description %></p>
    <hr class="my-4">
    <p>Ordered from <%= @order.start_date %> to <%= @order.end_date %> </p>
    <p>By <%= @user.name %>


    <p>Amount paid: <%= @order.amount %>€</p>
    <p class="lead">

      <%= link_to "Browse more items", party_items_path, class: 'btn btn-info' %>
    </p>

</div>
