<%= render navbar %>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= @partyItem.name %></h1>
    <p class="lead"><%= @partyItem.description %></p>
    <hr class="my-4">
    <p><%= @partyItem.price %></p>
    <p class="lead">
      <%= link_to "Add to cart", user_cart_path(@partyItem), class="btn btn-primary" %>
      <%= link_to "Browse more items", party_items_path, class="btn btn-warning" %>
    </p>
  </div>
</div>
